<div class="banner">
    <video [src]="video"[autoplay]="'autoplay'" loop [muted]="'muted'" style="height: 60rem; width: 40rem;"></video>
</div>
<div class="banner">
    <video [src]="video1"[autoplay]="'autoplay'" loop [muted]="'muted'" style="height: 50rem; width: 45rem; margin-left: 37rem; margin-top: -650rem; margin-bottom: 18.5rem;"></video>
</div>
<div class="banner">
    <video [src]="video2"[autoplay]="'autoplay'" loop [muted]="'muted'" style="height: 50rem; width: 45rem; margin-left: 37rem; margin-top: -55rem; margin-bottom: -4rem;"></video>
</div>
